@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", sans-serif;
}

.App {
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
}